.home-page-wrapper {
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 225px 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar-container {
  grid-column: 1;

  grid-row: 2;
  width: 100%;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.navbar {
  padding: 0 1rem;
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  grid-row: 1 / 2;
  grid-column: 1 / 3;

  z-index: 100;
}

.navbar-image {
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
}

.navbar-search-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90%;

  /* background-color: rgb(118, 118, 118); */
  border-radius: 1rem;
  border: 1px solid #ccc;

  overflow: hidden;

  /* padding: 0 1rem; */
}

.navbar-search-input {
  width: 20rem;
  height: 2rem;
  background: none;
  border: none;
  /* border-radius: 1rem; */
  /* border: 1px solid #ccc; */
  /* padding: 0 1rem; */
  margin-left: 1rem;

  cursor: pointer;
}

.navbar-search-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: hsl(0, 0%, 18.82%);
  height: 100%;
}

.navbar-search-button {
  height: 2rem;
  width: 4rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  background-color: rgb(118, 118, 118);
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  border: none;
  cursor: pointer;
}

.navbar-search-button-wrapper:hover {
  background-color: rgb(118, 118, 118);
}

.navbar-profile-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  width: 200px;
  height: 100%;
}

.navbar-profile-icon {
  height: fit-content;
  width: fit-content;
  margin-right: 2rem;
}
